body {
    font-family: Arial, sans-serif;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  footer {
    padding: 10px 0;
    background-color: #222;
    color: #fff;
  }
  /* Add this to your style.css file */
.rounded-circle {
    max-width: 150px; /* Limit the width to a more reasonable size */
    height: auto; /* Maintain aspect ratio */
  }
  
  